target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml

### Mac OS ###
.DS_Store

cruise-pack/package.json
cruise-pack/package-lock.json
cruise-pack/icon.png
cruise-pack/splash.png
cruise-pack/installsplash.png

node_modules/
jdeploy/
jdeploy-bundle/

application-local.properties