target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml

### Mac OS ###
.DS_Store

/package.json
/package-lock.json
/icon.png
/splash.png
/installsplash.png

node_modules/
jdeploy/
jdeploy-bundle/

application-local.properties