name: maven-build
on:
  push:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
      - name: Build with Maven
        run: mvn -B clean deploy -DskipTests
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
      - id: version
        run: echo "version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> "$GITHUB_OUTPUT"
      - name: Upload Jar
        uses: actions/upload-artifact@v4
        with:
          name: exe-jar
          path: "target/*-exe.jar"
  osx-x64:
    needs: build
    runs-on: macos-11
    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Download Jar
        uses: actions/download-artifact@v4
        with:
          name: exe-jar
          path: jars
      - name: Package jar as dmg installer
        run: "jpackage --name CruisePack-Mac-x86-Installer -i jars --main-class edu.colorado.cires.cruisepack.app.CruisePack --main-jar  cruise-pack-${{ needs.build.outputs.version }}-exe.jar"
      - name: View artifacts
        run: dir
      - name: Upload installer
        uses: actions/upload-artifact@v4
        with:
          name: CruisePack-Mac-x86-Installer
          path: "CruisePack-Mac-x86-Installer*.dmg"
  osx-arm64:
    needs: build
    runs-on: macos-14
    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Download Jar
        uses: actions/download-artifact@v4
        with:
          name: exe-jar
          path: jars
      - name: Package jar as dmg installer
        run: "jpackage --name CruisePack-Mac-arm64-Installer -i jars --main-class edu.colorado.cires.cruisepack.app.CruisePack --main-jar  cruise-pack-${{ needs.build.outputs.version }}-exe.jar"
      - name: View artifacts
        run: dir
      - name: Upload installer
        uses: actions/upload-artifact@v4
        with:
          name: CruisePack-Mac-arm64-Installer
          path: "CruisePack-Mac-arm64-Installer*.dmg"
  linux-x64:
    needs: build
    runs-on: ubuntu-20.04
    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Download Jar
        uses: actions/download-artifact@v4
        with:
          name: exe-jar
          path: jars
      - name: Package jar as deb installer
        run: "jpackage --name CruisePack-Linux-x64-Installer --type deb -i jars --main-class edu.colorado.cires.cruisepack.app.CruisePack --main-jar  cruise-pack-${{ needs.build.outputs.version }}-exe.jar"
      - name: View artifacts
        run: dir
      - name: Upload installer
        uses: actions/upload-artifact@v4
        with:
          name: CruisePack-Mac-arm64-Installer
          path: "CruisePack-Mac-arm64-Installer*.deb"
  windows-x64:
    needs: build
    runs-on: windows-2019
    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Download Jar
        uses: actions/download-artifact@v4
        with:
          name: exe-jar
          path: jars
      - name: Package jar as msi
        run: "jpackage --name CruisePack-Win-x86-Installer --type msi -i jars --main-class edu.colorado.cires.cruisepack.app.CruisePack --main-jar  cruise-pack-${{ needs.build.outputs.version }}-exe.jar --win-dir-chooser"
      - name: View artifacts
        run: dir
      - name: Upload installer
        uses: actions/upload-artifact@v4
        with:
          name: CruisePack-Win-x86-Installer
          path: "CruisePack-Win-x86-Installer*.msi"

