name: maven-build
on:
  push:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
      - name: Build with Maven
        run: mvn -B clean deploy -DskipTests
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
      - id: version
        run: echo "version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> "$GITHUB_OUTPUT"
      - name: Upload Jar
        uses: actions/upload-artifact@v4
        with:
          name: exe-jar
          path: "target/*-exe.jar"
      - name: Upload Splash
        uses: actions/upload-artifact@v4
        with:
          name: package-resources
          path: package-resources
  osx-x64:
    needs: build
    runs-on: macos-11
    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Download Resources
        uses: actions/download-artifact@v4
        with:
          name: package-resources
      - name: Download Jar
        uses: actions/download-artifact@v4
        with:
          name: exe-jar
          path: jars
      - run: cp splash.png jars
      - name: Package jar as dmg installer
        run: >
          jpackage
          --icon cruise_pack.icns
          --vendor 'CIRES / University of Colorado' 
          --java-options '-splash:$APPDIR/splash.png'
          --name 'Cruise Pack'
          -i jars
          --main-class org.springframework.boot.loader.launch.JarLauncher
          --main-jar cruise-pack-${{ needs.build.outputs.version }}-exe.jar
          --about-url https://github.com/CI-CMG/JCruisePack
          --mac-package-identifier edu.colorado.cires.cruisepack.app.CruisePack
      - name: View artifacts
        run: ls -l
      - name: Upload installer
        uses: actions/upload-artifact@v4
        with:
          name: cruise-pack-mac-x86
          path: "*.dmg"
  osx-arm64:
    needs: build
    runs-on: macos-14
    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Download Resources
        uses: actions/download-artifact@v4
        with:
          name: package-resources
      - name: Download Jar
        uses: actions/download-artifact@v4
        with:
          name: exe-jar
          path: jars
      - run: cp splash.png jars
      - name: Package jar as dmg installer
        run: >
          jpackage
          --icon cruise_pack.icns
          --vendor 'CIRES / University of Colorado' 
          --java-options '-splash:$APPDIR/splash.png'
          --name 'Cruise Pack'
          -i jars
          --main-class org.springframework.boot.loader.launch.JarLauncher
          --main-jar cruise-pack-${{ needs.build.outputs.version }}-exe.jar
          --about-url https://github.com/CI-CMG/JCruisePack
          --mac-package-identifier edu.colorado.cires.cruisepack.app.CruisePack
      - name: View artifacts
        run: ls -l
      - name: Upload installer
        uses: actions/upload-artifact@v4
        with:
          name: cruise-pack-mac-arm64
          path: "*.dmg"
  linux-x64:
    needs: build
    runs-on: ubuntu-20.04
    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Download Resources
        uses: actions/download-artifact@v4
        with:
          name: package-resources
      - name: Download Jar
        uses: actions/download-artifact@v4
        with:
          name: exe-jar
          path: jars
      - run: cp splash.png jars
      - name: Package jar as deb installer
        run: "jpackage --name CruisePack-Linux-x64-Installer --type deb -i jars --main-class org.springframework.boot.loader.launch.JarLauncher --main-jar  cruise-pack-${{ needs.build.outputs.version }}-exe.jar"
      - name: Package jar as rpm installer
        run: "jpackage --name CruisePack-Linux-x64-Installer --type rpm -i jars --main-class org.springframework.boot.loader.launch.JarLauncher --main-jar  cruise-pack-${{ needs.build.outputs.version }}-exe.jar"
      - name: View artifacts
        run: ls -l
      - name: Upload installer Deb
        uses: actions/upload-artifact@v4
        with:
          name: cruise-pack-linux-x64.deb
          path: "cruisepack-linux-x64-installer*.deb"
      - name: Upload installer RPM
        uses: actions/upload-artifact@v4
        with:
          name: cruise-pack-linux-x64.rpm
          path: "Ccruisepack-linux-x64-installer*.rpm"
  windows-x64:
    needs: build
    runs-on: windows-2019
    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Download Resources
        uses: actions/download-artifact@v4
        with:
          name: package-resources
      - name: Download Jar
        uses: actions/download-artifact@v4
        with:
          name: exe-jar
          path: jars
      - run: cp splash.png jars
      - name: Package jar as msi
        run: "jpackage --name CruisePack-Win-x86-Installer --type msi -i jars --main-class org.springframework.boot.loader.launch.JarLauncher --main-jar  cruise-pack-${{ needs.build.outputs.version }}-exe.jar --win-dir-chooser"
      - name: Package jar as exe
        run: "jpackage --name CruisePack-Win-x86-Installer --type exe -i jars --main-class org.springframework.boot.loader.launch.JarLauncher --main-jar  cruise-pack-${{ needs.build.outputs.version }}-exe.jar --win-dir-chooser"
      - name: View artifacts
        run: dir
      - name: Upload installer
        uses: actions/upload-artifact@v4
        with:
          name: cruise-pack-win-x64.msi
          path: "CruisePack-Win-x86-Installer*.msi"
      - name: Upload installer exe
        uses: actions/upload-artifact@v4
        with:
          name: cruise-pack-win-x64.exe
          path: "CruisePack-Win-x86-Installer*.exe"

